.card {
    border: 1px solid #ccc;
    padding: 1.6rem;
}

.card-title {
    font-size: 2.2rem;
    margin: 1.2rem 0;
    font-weight: 500;
}

.card-price {
    font-size: 1.8rem;
    font-weight: bold;
}

.card-image {
    height: 300px;
    object-fit: scale-down;
}